/** BODY **/

body {
  font-size: 16px;
  color: #191919;
  background-color: #efeff2;
  font-family: 'Roboto Slab', serif;
}

/** END BODY **/

/** HEADER **/

#header-nav {
  background-color: #a69eb0;
  border-radius: 0;
  border: 0;
}

.navbar-brand { /* Restaurant name */
  position:absolute;
  left:0;
  top:0;
  padding: 20px 0 0 25px;
}

.navbar-brand h1 { /* Restaurant name */
  color: #f2e2cd;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand h1 span { /* Restaurant name */
  color: #000000;
}

.navbar-brand h1:hover, .navbar-brand h1:focus { /* Restaurant name */
    color: #FFE135;
}

.navbar-brand a:hover, .navbar-brand a:focus { /* Restaurant name */
    text-decoration: none;
}

.navbar-collapse { /* Menu button */
  background-color: #dadae3; 
}

.navbar-collapse ul li:hover { /* Menu button */
  background-color: #FFE135;
}

/** END HEADER **/

/** MAIN CONTENT **/

#main-content div {
  margin: 0;
}

#text-tiles h3 {
  text-align: center;
}

#text-tiles p {
  text-align: justify;
}


#text-tiles div {
  background-color: #f2e2cd;
  margin-bottom: 20px;
  border-radius: 20px;

}

/** END MAIN CONTENT **/